{% extends 'ParkingMapBundle::layout_app.html.twig' %}

{% block content %}

<div class="jumbotron col-md-10 col-md-offset-1">
  <h1>Parking Map Project</h1>
  <p>Projet technique réalisé dans un context de test, @NhmGrj(nhm.grd@gmail.com) </p>
  <p><a class="btn btn-primary btn-lg" href="https://github.com/NhmGrj/ParkingMapProject/blob/master/README.md" role="button">Learn more</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h3>Availability</h3>
            <h2><span class="label label-success">{{freeSlotsNb}}</span> / <span class="label label-default">{{slotsNb}}</span></h2>
            <div class="br"></div>
            <div class="row">
                <div class="well col-md-12">
                    {% for slot in slots %}
                    <div class="col-md-2">
                        {% if slot.isFree %}
                        <div class="panel panel-success">
                        {% else %}
                        <div class="panel panel-warning">
                        {% endif %}
                            <div class="panel-heading">
                                <h6>Slot n° : <span class="badge">{{slot.id}}</span></h6>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 border-right">
        <div class="">
            <h3 class="text-center">Traffic by hours</h3>
            <br>
            <table class="table col-md-12">
                <tr>
                    <th>From - To</th>
                    <th>Entries</th>
                    <th>Exits</th>
                    <th>lo</th>
                </tr>

                {% for span in trafficByHoursSpan %}
                </tr>
                    <td>
                        <span class="label label-default">{{span.prev|date("H:i")}}</span>
                        -
                        <span class="label label-default">{{span.current|date("H:i")}}</span>
                    </td>
                    <td>
                        <span class="label label-success">{{span.totalEntries}}</span>
                    </td>
                    <td>
                        <span class="label label-primary">{{span.totalExits}}</span>
                    </td>
                    <td>
                        <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#collapse{{span.prev|date("H")}}-{{span.current|date("H")}}" aria-expanded="false" aria-controls="collapseExample">
                          Details
                        </button>
                    </td>
                </tr>
                <tr class="collapse" id="collapse{{span.prev|date("H")}}-{{span.current|date("H")}}">
                     <td colspan="4">
                         <div class="panel panel-default">
                              <div class="panel-heading"><h5>From <span class="label label-default">{{span.prev|date("H:i")}}</span> - To <span class="label label-default">{{span.current|date("H:i")}}</span></h5></div>
                              <div class="panel-body">
                                  <div class="col-md-12">
                                      {% for id in span.counter|keys %}
                                      <div class="col-md-2 text-center slot-label">
                                          <div class="row">
                                              <span class="label custom-label label-warning">Slot n° {{id}}</span>
                                          </div>
                                          <div class="row">

                                              <span class="label custom-label label-success">{{span.counter[id].entry}}</span><span class="label custom-label label-primary">{{span.counter[id].exit}}</span>
                                          </div>
                                      </div>

                                      {% endfor %}
                                  </div>
                              </div>
                        </div>
                     </td >
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-7 col-md-offset-1 ">
        <h3 class="text-center">Traffic Chart</h3>
        <br>
        <br>
        <br>
        <div id="chart-container">

        </div>
        <div class="hidden" id="chart-data">
        </div>
        <script type="text/javascript">
        var chartData = {{( trafficByHoursSpan|json_encode()|raw )}};
        </script>
    </div>
</div>
{% endblock %}





{% block javascripts %}
{% javascripts filter='?yui_js' output='js/charts.js'
      '@ParkingMapBundle/Resources/public/js/charts.js'
%}
<script src="{{ asset_url }}" class="wow"></script>
{% endjavascripts %}
{% endblock %}
