{% extends 'ParkingMapBundle::layout_app.html.twig' %}

{% block content %}

<div class="jumbotron col-md-10 col-md-offset-1">
  <h1>Parking Map Project</h1>
  <p>Projet technique réalisé dans un context de test, par Néhémie Grandjean (nhm.grd@gmail.com) </p>
  <p><a class="btn btn-primary btn-lg" href="https://github.com/NhmGrj/ParkingMapProject/blob/master/README.md" role="button">Learn more</a></p>
</div>
<div class="row">
    <div class="col-md-4 border-right">
        <div class="text-center">
            <h3>Disponibility</h3>
            <div class="br"></div>
            <h2><span class="label label-success">{{freeSlotsNb}}</span> / <span class="label label-default">{{slotsNb}}</span></h2>
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-10">
            <h3>Traffic by hours</h3>
            <br>
            <table class="table col-md-offset-1 col-md-10">
                <tr>
                    <th>From - To</th>
                    <th>Exits</th>
                    <th>Entries</th>
                    <th>
                </tr>

                {% for span in trafficByHoursSpan %}
                </tr>
                    <td>
                        <span class="label label-default">{{span.prevHour|date("H")~"h"}}</span>
                        -
                        <span class="label label-default">{{span.current|date("H")~"h"}}</span>
                    </td>
                    <td>
                        <span class="label label-primary">{{span.totalExits}}</span>
                    </td><td>
                        <span class="label label-success">{{span.totalEntries}}</span>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{# {{ dump()}} #}
{# {{ dump(slotsNb)}} #}
{# {{ dump(freeSlotsNb)}} #}
{% endblock %}
