{% extends 'ParkingMapBundle::layout_app.html.twig' %}

{% block content %}

<div class="jumbotron col-md-10 col-md-offset-1">
  <h1>Parking Map Project</h1>
  <p>Projet technique réalisé dans un context de test, @NhmGrj(nhm.grd@gmail.com) </p>
  <p><a class="btn btn-primary btn-lg" href="https://github.com/NhmGrj/ParkingMapProject/blob/master/README.md" role="button">Learn more</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h3>Availability</h3>
            <h2><span class="label label-success">{{freeSlotsNb}}</span> / <span class="label label-default">{{slotsNb}}</span></h2>
            <br>
            <div class="row">
                <div class="well col-md-12">
                    {% for slot in slots %}
                    <div class="col-md-2">
                        {% if slot.isFree %}
                        <div class="panel panel-success">
                        {% else %}
                        <div class="panel panel-warning">
                        {% endif %}
                            <div class="panel-heading">
                                <h6>Slot n° : <span class="badge">{{slot.id}}</span></h6>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-4 border-right">
        <div class="">
            <h3 class="text-center">Traffic by hours</h3>
            <br>
            <table class="table col-md-12">
                <tr>
                    <th>From - To</th>
                    <th>Entries</th>
                    <th>Exits</th>
                    <th>More</th>
                </tr>

                {% for span in trafficByHoursSpan %}
                </tr>
                    <td>
                        <span class="label label-default">{{span.prev|date("H:i")}}</span>
                        -
                        <span class="label label-default">{{span.current|date("H:i")}}</span>
                    </td>
                    <td>
                        <span class="label label-success">{{span.totalEntries}}</span>
                    </td>
                    <td>
                        <span class="label label-primary">{{span.totalExits}}</span>
                    </td>
                    <td>
                        <button class="btn btn-xs btn-primary" type="button" data-toggle="modal" data-target="#bs-modal-{{span.prev|date("H")}}-{{span.current|date("H")}}" aria-expanded="false" aria-controls="collapseExample">
                         More ...
                        </button>
                    </td>
                    <!-- Modal -->
                    <div id="bs-modal-{{span.prev|date("H")}}-{{span.current|date("H")}}" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel"><h3 class="text-center">Traffic between <span class="label label-default">{{span.prev|date("H:i")}}</span> - <span class="label label-default">{{span.current|date("H:i")}}</span></h5></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-offset-1">
                                            Legend : <span class="label label-success">Entry</span> - <span class="label label-primary">Exit</span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        {% for result in span.results %}
                                        <div class="col-md-2 text-center">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    Slot n° <span class="badge">{{result.slot_id}}</span>
                                                    <br>
                                                    <br>
                                                    <span class="label custom-label label-success">{{result.entries}}</span> - <span class="label custom-label label-primary">{{result.exits}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-7 col-md-offset-1 ">
        <h3 class="text-center">Traffic Chart</h3>
        <br>
        <br>
        <br>
        <div id="chart-container">

        </div>
        <div class="hidden" id="chart-data">
        </div>
        <script type="text/javascript">
        var chartData = {{( trafficByHoursSpan|json_encode()|raw )}};
        </script>
    </div>
</div>
{% endblock %}





{% block javascripts %}
{% javascripts filter='?yui_js' output='js/charts.js'
      '@ParkingMapBundle/Resources/public/js/charts.js'
%}
<script src="{{ asset_url }}" class="wow"></script>
{% endjavascripts %}
{% endblock %}
